body{
  background: rgb(245,245,245);
  color: rgb(20, 20, 20);
  font-family:  'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-family:  'Roboto', sans-serif;
  color: gray;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family:  'Roboto', sans-serif;
  color: black;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: purple;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#video-grid {
  display: flex;
  justify-content: center;

}
video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.main {
  height: 100vh;
  display: flex;
  background: #F8F8F8;

}

.main_controls {
  display: flex;
  background-color: #1C1E20;
  color: #D2D2D2;
  padding: 5px;
  justify-content: space-between;

}

.main_controls_block {
  display: flex;
}

.main_controls_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 90px;
  cursor: pointer;
}

.main_controls_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main_controls_button i {
  font-size: 30px;
}

.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main_right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}

.main_videos {
  background: #F8F8F8;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leave_meeting {
  color: #ED3833;
}

.main_header {
  color: #F5F5F5;
  text-align: center;
}

.main_chat_window {
flex-grow: 1;
}